# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
env/
torch-env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs / misc
*.log
.DS_Store
*.sqlite3

# IDE settings
.vscode/
.idea/
*.swp

# Data files
notebooks/gpt2-* 
notebooks/instruction*
# Ignore GPT-2 model weights and downloaded files
gpt2/355M/
gpt2/124M/