# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
env/
torch-env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs / misc
*.log
.DS_Store
*.sqlite3

# IDE settings
.vscode/
.idea/
*.swp
